*.pdf
.DS_Store
.ropeproject/
.ipynb_checkpoints/
__pycache__/
.history/
.vscode/
src/__pycache__/
src/.ipynb_checkpoints/
.idea/
data/
venv/
alassea-lome/
token.txt
*.jpg
*.csv
*.html
*.p
*.out
*.zip
*.xls
*.xlsx
*.log
